simplified_ui true
pane_frames false
default_layout "compact"

keybinds {
    shared {
        bind "Alt h" "Alt Left" { MoveFocusOrTab "Left"; }
        bind "Alt l" "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt j" "Alt Down" { MoveFocus "Down"; }
        bind "Alt k" "Alt Up" { MoveFocus "Up"; }
        bind "Alt m" { ToggleFloatingPanes; }
        bind "Alt L" { GoToNextTab; }
        bind "Alt H" { GoToPreviousTab; }
        bind "Alt n" { NewTab; }
        bind "Alt v" { NewPane "Right"; }
        bind "Alt V" { NewPane "Down"; }
    }
}
